# Site settings
title: tbutler.org 
description:  Tyler Butler is a cyber risk consultant and developer
lang: en-US 
timezone: America/New_York
image: assets/img/ogp.png # This image used for Open Graph more info https://ogp.me/
repo: https://github.com/piharpi/jekyll-klise # site repo [optional]
mode: dark # default theme "dark" | "light"

# Profile settings
author: 
  name: Tyler Butler  # author name
  bio: >- # tell to the world
    Tyler Butler is a cyber risk consultant and developer. 
  username: tbutler0x90 # social media username eg. github, twitter 
  email: developer.tbutler@gmail.com # your contact adress
  avatar: /assets/img/avatar.png # change with your own avatar

# Url settings
url: "https://tbutler.org"
baseurl:
permalink: /:title/
google_analytics:
fb_appid:

# Collection setting
collections:
  posts:
    output: true

# Markdown settings
markdown: kramdown
highlighter: rouge
kramdown:
  syntax_highlighter: rouge

# Default front matter
defaults:
  - scope:
      path: ""
    values:
      layout: post
      comments: false

# Jekyll Compose default front matter
jekyll_compose:
  post_default_front_matter:
    modified:
    tags: []
    description:
  draft_default_front_matter:
    modified:
    tags: []
    description:

# Build settings
sass:
  style: compressed

include:
  - _redirects
  - .htaccess

exclude:
  - CNAME
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - CHANGELOG.md
  - README.md
  - node_modules
  - CODE_OF_CONDUCT.md

# Plugins
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-postfiles
