<div class="author">
  <img
    class="author-avatar"
    src="{{ site.author.avatar }}"
    alt="{{ site.author.username }}"
  />
  <h2 class="author-name">{{ site.author.name }}</h2>
  <p class="author-bio">{{ site.author.bio }}</p>
  <a href="https://twitter.com/tbutler0x90"><img src="https://img.shields.io/twitter/follow/tbutler0x90?label=Twitter&style=social"></a>
  <a href="https://github.com/tcbutler320"><img src="https://img.shields.io/github/followers/tcbutler320?label=Github&style=social"></a>  
  <br/> 
</div>

