<form name="contact" method="POST" data-netlify="true">
  <p>
    <label>Your Name: <input type="text" name="name" /></label>   
  </p>
  <p>
    <label>Your Email: <input type="email" name="email" /></label>
  </p>
  <p>
    <label>Message: <textarea name="message"></textarea></label>
  </p>
  <p>
    <button type="submit">Send</button>
  </p>
</form> 


<form name="bootstrap" method="POST" cdata-netlify="true" class="form-inline">
  <div class="form-group mb-2">
    <label for="exampleFormControlInput1" class="sr-only">Email</label>
    <input name="email" type="email" readonly class="form-control" id="exampleFormControlInput1" placeholder="email@example.com">
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <label for="inputPassword2" class="sr-only">Password</label>
    <input type="password" class="form-control" id="inputPassword2" placeholder="flag{WheRes_eLev3N?}">
  </div>
  <button type="submit" class="btn btn-dark mb-2">Submit Flag</button>
</form>