 {% assign theme = site.data.themes[site.ui_theme] %}
  <h5 class="card-title border-bottom" style="font-family:{{ theme.education-title-font}};font-size:{{ theme.education-title-size }};">Education, Certifications, & Recognition</h5>
  <ul class="list-unstyled">
  {% for entry in site.data.education %}
    <li class="media">
      {% if entry.Icon %}
      <i class="fas fa-medal mr-3"></i>
      {% else %}
      <i class="fas fa-user-graduate mr-3"></i>  
      {% endif %}
      <div class="media-body">
        <h5 style="font-family:{{ theme.education-entry-font}};font-size:{{ theme.education-entry-size }};"><strong>{{ entry.School }}</strong></h5>
        <p style="font-family:{{ theme.education-entry-font}};font-size:{{ theme.education-section-size }};"><i>{{ entry.Program }}</i></p>
        {% if entry.Degree %}
          <p>{{ entry.Degree }}</p>
        {% endif %}
      </div>
    </li>
    {% endfor %}
  </ul>