<footer class="footer">
  <a class="footer_item" href="/assets/pdf/Butler,Tyler-Resume.pdf">resume</a>
  <a class="footer_item" href="/feed.xml">rss</a>
</footer>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="/assets/js/main.js" defer="defer"></script>
<script src="/assets/js/galite.js"></script>
<script>
  var galite = galite || {};
  galite.UA = "{{ site.google_analytics }}";
</script>
