<script>
const gitalk = new Gitalk({
  clientID: {{ site.gitalk_client_id }},
  clientSecret: {{ site.gitalk_client_secret}},
  repo: {{ site.gitalk_repo }},      // The repository of store comments,
  owner: {{ site.gitalk_owner}},
  admin: {{ site.gitalk_admin }},
  id: location.pathname,      // Ensure uniqueness and length less than 50
  distractionFreeMode: false  // Facebook-like distraction free mode
})

gitalk.render('gitalk-container')
</script>

<script>
const gitalk = new Gitalk({
  clientID: 'd24925f8c7a51a0e7f6d',
  clientSecret: '11c464cc50ce3c0a1323c0396b65674b90a630a4',
  repo: 'https://github.com/tcbutler320/tbutler.org',      // The repository of store comments,
  owner: 'tcbutler320',
  admin: '[\'tcbutler320\']',
  id: location.pathname,      // Ensure uniqueness and length less than 50
  distractionFreeMode: false  // Facebook-like distraction free mode
})

gitalk.render('gitalk-container')
</script>

