<a href="https://facebook.com/sharer/sharer.php?u={{ site.url}}{{ page.url}}">
<i class="fab fa-facebook-f"></i>
</a>
<a href="https://twitter.com/intent/tweet/?text={{ page.title}}&amp;url={{ site.url}}{{ page.url}}">
<i class="fab fa-twitter"></i>
</a>
<a href="mailto:someone@yoursite.com?&subject={{ page.title }}&body={{ page.description}}">
<i class="fas fa-envelope"></i>
</a>
<a href="https://reddit.com/submit/?url={{ site.url}}{{ page.url}}&amp;resubmit=true&amp;title={{ page.title }}">
<i class="fab fa-reddit-alien"></i>
</a>
