<div class="row mx-auto">
   <div class="col-md-4 mx-auto">
      <div class="card mt-0 mb-0 border-0">
         <div class="card-body text-center">
            <div class="row mb-0">
               <div class="col border-right mb-0">
                  <a href="https://facebook.com/sharer/sharer.php?u={{ site.url}}{{ page.url}}">
                  <i class="fab fa-facebook-f"></i>
                  </a>
               </div>
               <div class="col border-right mb-0">
                  <a href="https://twitter.com/intent/tweet/?text={{ page.title}}&amp;url={{ site.url}}{{ page.url}}">
                  <i class="fab fa-twitter"></i>
                  </a>
               </div>
               <div class="col border-right mb-0">
                  <a href="mailto:someone@yoursite.com?&subject={{ page.title }}&body={{ page.description}}">
                  <i class="fas fa-envelope"></i>
                  </a>
               </div>
               <div class="col mb-0">
                  <a href="https://reddit.com/submit/?url={{ site.url}}{{ page.url}}&amp;resubmit=true&amp;title={{ page.title }}">
                  <i class="fab fa-reddit-alien"></i>
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>