<div class="row mx-auto">
   <div class="col-md-4 mx-auto">
      <div class="card mb-4 mt-0 mb-0 border-0">
         <div class="card-body text-center">
            <div class="row">
               <div class="col border-right">
                  <i class="far fa-thumbs-up text-facebook"></i>
                  <span class="text-muted" style="font-size:14px;">Like</span>
               </div>
               <div class="col border-right">
                  <i class="fas fa-share-alt text-facebook"></i>
                  <span class="text-muted" style="font-size:14px;">Share</span>
               </div>
               <div class="col border-right">
                  <i class="fab fa-google-plus-g text-google-plus"></i>
                  <span class="text-muted" style="font-size:14px;">Like</span>
               </div>
               <div class="col">
                  <i class="fas fa-share-alt text-google-plus"></i>
                  <span class="text-muted" style="font-size:14px;">Share</span>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>