.title {
  font-style: italic;
} 

.author {
  a {
    border-bottom: 1px dashed var(--global-theme-color);
    &:hover {
        border-bottom-style: solid;
        text-decoration: none;
    }
  }


.dropdown-toggle::after {
  display: none;
}


.navbar-nav {
  > h1,h2,h3,h4,h5,p {
    color: #0d335d;
  }
}


