---
layout: layouts/default.njk
title: Bug Trophies
description: A collection of my bug bounties and public exploits
permalink: /trophies/
---
{% extends "layouts/page.njk" %}
{% import "components/macros.njk" as components %}

{% block content %}

<table class="table"> thead class="thead-dark"> 
  <tr> 
    <th scope="col">#</th> 
      <th scope="col">Disclosure</th> 
      <th scope="col">CVE</th> 
      <th scope="col">Vulnerability</th>
      <th scope="col">Platform</th>
      <th scope="col">Report</th> 
    </tr> 
  </thead> 
  <tbody> 
  <tr>
    <th scope="row">1</th>
      <td>
        <p>05/20/2020</p>
        <p></p>
      </td>
      <td>N/A</td>
      <td>CWE-471: Modification of Assumed-Immutable Data</td>
      <td>Hackerone</td>
      <td><a href="/hinge-hackerone-writeup/">Link</a></td>
    </tr>
    <tr>
      <th scope="row">2</th>
        <td>
          <p>10/13/2020</p>
          <p></p>
        </td> 
        <td>N/A</td> 
        <td>TimeClock Software 1.01 0 - (Authenticated) Time-Based SQL Injection</td>
        <td>Exploit-DB</td>
        <td><a href="https://www.exploit-db.com/exploits/48874">Link</a></td>
      </tr>
    </tbody> 
  </table>

{% endblock %}
