---
title: Work
description: "In my own time I enjoy conducting vulnerability research, developing proof of concept exploits, and exploring little known or interesting information security topics"
permalink: /work/index.html
---
{% extends "layouts/page.njk" %}
{% import "components/macros.njk" as components %}

{% block content %}
  <section class="u-margin-top-5">
    <h2 class="u-text-uppercase">Security Research</h2>
    <ul class="c-listing c-listing--4 u-margin-top-4">
      {% for entry in collections.caseStudies | favorites | take(2) %}
      <li class="c-listing__item">
        {% Grid %}
          {% GridCol { span: { md: '6of12' } } %}
            {% if entry.data.thumbnail_sm %}
              {{ components.figure({
                src: '/assets/images/' + entry.data.thumbnail_sm,
                alt: entry.data.title,
                bordered: true
              }) }}
            {% endif %}
          {% endGridCol %}

          {% GridCol { span: { md: '6of12' } } %}
            <h3 class="u-font-size-lg u-font-weight-semi-bold"><a class="u-primary-anchor" href="{{ entry.url }}">{{ entry.data.title }}</a></h3>
            <p class="u-margin-top-2">{{ entry.data.description | markdownify_inline }}</p>
            <div class="u-margin-top-2">
              {{ components.link({ url: entry.data.link, external: true }) }}
            </div>
          {% endGridCol %}
        {% endGrid %}
      </li>
      {% endfor %}
    </ul>
    {# <div class="u-margin-top-4">
      {{ components.link({ url: "/case-studies/", text: "View more case studies" }) }}
    </div> #}
  </section>

    <section class="u-margin-top-5">
    <h2 class="u-text-uppercase">Cyber Threat Intelligence</h2>
    <ul class="c-listing c-listing--4 u-margin-top-4">
      <li class="c-listing__item">
        {% Grid %}
          {% GridCol { span: { md: '8of12' } } %}
            <div>
              <iframe
                src="https://www.virustotal.com/graph/embed/gde3a19e840b4411489b1a54d2bbf2f0c84ab5668cd644247abdb58a4a9f852ab"
                width="500"
                height="400">
              </iframe>
            </div>
          {% endGridCol %}
          {% GridCol { span: { md: '4of12' } } %}
            <h3 class="u-font-size-lg u-font-weight-semi-bold"><a class="u-primary-anchor" href="/">Zaprop Malware</a></h3>
            <p class="u-margin-top-2">Some recent recent reseacch I conducted on a cloned website with links to malicious apk files.</p>
            <div class="u-margin-top-2">
              {{ components.link({ url: "https://www.virustotal.com/graph/embed/gde3a19e840b4411489b1a54d2bbf2f0c84ab5668cd644247abdb58a4a9f852ab", external: true }) }}
            </div>
          {% endGridCol %}
        {% endGrid %}
      </li>
    </ul>
    {# <div class="u-margin-top-4">
      {{ components.link({ url: "/case-studies/", text: "View more case studies" }) }}
    </div> #}
  </section>

  <section class="u-margin-top-5">
    <h2 class="u-text-uppercase">Experience</h2>
    <ul class="c-listing c-listing--4 u-margin-top-4">
      {% for experience in resume.experience %}
      <li class="c-listing__item">
        <p class="u-color-gray u-text-uppercase">{{ experience.startDate }} – {% if experience.endDate %}{{ experience.endDate }}{% else %}Present{% endif %}</p>
        <h3 class="u-font-size-lg u-margin-top-1">{{ experience.company }} – {{ experience.title }}</h3>
        <div class="u-margin-top-2">
          <ul>
            {% for highlight in experience.highlights %}
              <li>{{ highlight }}</li>
            {% endfor %}
          </ul>
        </div>
      </li>
      {% endfor %}
    </ul>
  </section>

{% endblock %}
