# Site settings
title: tbutler.org 
description:  tbutler.org is Tyler Butler's personal website detailing research on information technology, privacy, and cryptocurrency.
lang: en-US 
timezone: America/New_York
image: assets/img/ogp.png # This image used for Open Graph more info https://ogp.me/
repo: 
mode: dark # default theme "dark" | "light"
url: https://tbutler.org

# Profile settings
author: 
  name: Tyler Butler  # author name
  bio: >- # tell to the world
    Cyber Risk at <a href="https://www2.deloitte.com/us/en.html">Deloitte</a><br/>
    CTF Player at <a href="https://0x90skids.com/">0x90skids</a><br/>
    Bug Bounty at <a href="https://hackerone.com/tcbutler320">Hackerone</a><br/>
  username: tbutler0x90 # social media username eg. github, twitter 
  email: developer.tbutler@gmail.com # your contact adress
  avatar: /assets/img/avatar.png # change with your own avatar
  twitter_username: tbutler0x90

# Jekyll Scholar Configurations
scholar:
  last_name: Butler

  style: apa
  locale: en

  sort_by: year
  order: descending

  source: /_bibliography/
  bibliography: bibliography.bib
  bibliography_template: bib

  replace_strings: true
  join_strings: true

  details_dir: bibliography
  details_layout: bibtex.html
  details_link: Details

  query: "@*"


# Url settings
url: "https://tbutler.org"
baseurl:
permalink: /:title/
google_analytics: UA-122575211-3
fb_appid:

# Collection setting
collections:
  posts:
    output: true

# Markdown settings
markdown: kramdown
highlighter: rouge
kramdown:
  syntax_highlighter: rouge

# Default front matter
defaults:
  - scope:
      path: ""
    values:
      layout: post
      comments: false

# Jekyll Compose default front matter
jekyll_compose:
  post_default_front_matter:
    modified:
    tags: []
    description:
  draft_default_front_matter:
    modified:
    tags: []
    description:

# Build settings
sass:
  style: compressed
  sass_dir: _sass
  load_paths:
    - _sass
    - node_modules
  exclude: []




include:
  - _redirects
  - .htaccess

exclude:
  - CNAME
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - CHANGELOG.md
  - README.md
  - node_modules
  - CODE_OF_CONDUCT.md

# Plugins
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-postfiles
  - jekyll/scholar

