---
layout: default
home: true
---

<h5 class="posts-item-note">Recent Articles</h5>
<i> I write about cyber security, including technical CTF writeups, bug bounty disclosures, and personal research topics <i>
<br/>
{% for post in site.posts %}
  {% if post.tag != "Cryptocurrency and National Security" %}
    <article class="post-item">
      <span class="post-item-date">{{ post.date | date: "%b %d, %Y" }}</span>
      <p class="post-item-title">
        <a href="{{ post.url }}">{{ post.title | escape }}</a>
      </p>
    </article>
    {% endif %}
{% endfor %}

<br/>
<br/>


<h5 class="posts-item-note">Recent Publications</h5>
<i> Formal research papers I've published <i>
<br/>
<article class="post-item">
{% bibliography %}
</article>

<h5 class="posts-item-note">Recent Cited Work</h5>
<i> Places my work has been featured<i>
<br/>
<article class="post-item">
</article>


<h5 class="posts-item-note">Recent CTF Competitions</h5>
<i> Latest Capture the Flag Challenges I've competed in<i>
<br/>
<article class="post-item">
<div class="publications">
  {% bibliography -f ctf %}
</div> 
</article>








