---
layout: page
---
{% assign theme = site.data.themes[site.ui_theme] %}
{% include reading_time.html %}

<div class="mx-auto posttitle mb-1" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title text-left" style="color:{{theme.post-tag-color}};font-size:{{ theme.post-tag-size }};"><span class="badge badge-red text-light">{{ page.tag }}</span></h5>
    <h5 class="card-title text-left" style="color:{{theme.post-title-color}};font-size:{{ theme.post-title-size }};font-weight:{{ theme.post-font-weight }};">{{ page.title }}</h5>
    <h6 class="card-title text-left" style="color:{{theme.post-lead-color}};font-size:{{ theme.post-lead-size }};font-weight:{{ theme.post-lead-font-weight }};">{{ page.lead }}</h6>
    <h6 class="mb-3" style="font-size:{{ theme.post-author-size }};font-weight:{{ theme.post-dets-font-weight }};">By:<i><a href={{page.author-link}}>  {{page.author}}</i></a>, <i>{{page.date | date: "%b %d, %Y"}}</i>  |  <i>{{ reading_time }}</i></h6>
    {% include social-cards-sm.html %}
  </div>
</div>


<div class="mx-auto mb-4 medq-blog">
  <div class="card-body ">
    {{ content | markdownify }}
  </div>
</div>


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>

<script>
var id = document.getElementById("postid").innerHTML;

const gitalk = new Gitalk({
  clientID: 'd24925f8c7a51a0e7f6d',
  clientSecret: '11c464cc50ce3c0a1323c0396b65674b90a630a4',
  repo: 'tbutler.org',      // The repository of store comments,
  owner: 'tcbutler320',
  admin: ['tcbutler320'],
  id: encodeURI(id),      // Ensure uniqueness and length less than 50
  distractionFreeMode: false  // Facebook-like distraction free mode
})

gitalk.render('gitalk-container')
</script>
