---
layout: page
---
{% assign theme = site.data.themes[site.ui_theme] %}
{% include reading_time.html %}

<div class="blogcard mx-auto {{ page.card }} mb-4 mt-4" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title text-center" style="font-size:{{ theme.post-tag-size }};">{{ page.tag }}</h5>
    <h5 class="card-title text-center" style="font-size:{{ theme.post-title-size }};font-weight:{{ theme.post-font-weight }};">{{ page.title }}</h5>
    {% include social-cards-copy.html %}
  </div>
</div>

<div class="row">
    <div class="col-md-3 text-left">
      <h6 style="font-size:{{ theme.post-author-size }};"><b>Authors:</b> {{page.author}}</h6>
      <h6 style="font-size:{{ theme.post-author-size }};"><b>Published:</b> {{page.date | date: "%a, %b %d, %y"}}</h6>
      <h6 class="border-bottom border-secondary" style="font-size:{{ theme.post-author-size }};"><b>Reading Time:</b> {{ reading_time }}</h6>
    </div>
    <div class="col-md-9">
    {{ content | markdownify }}
    <a href="https://twitter.com/tbutler0x90?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @tbutler0x90</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>

<script>
var id = document.getElementById("postid").innerHTML;

const gitalk = new Gitalk({
  clientID: 'd24925f8c7a51a0e7f6d',
  clientSecret: '11c464cc50ce3c0a1323c0396b65674b90a630a4',
  repo: 'tbutler.org',      // The repository of store comments,
  owner: 'tcbutler320',
  admin: ['tcbutler320'],
  id: encodeURI(id),      // Ensure uniqueness and length less than 50
  distractionFreeMode: false  // Facebook-like distraction free mode
})

gitalk.render('gitalk-container')
</script>
