.c-subscribe-box.u-align-center
  .rainbow
    span
    span
  .c-subscribe-box__wrapper
    h3.c-subscribe-box__title Join my newsletter
    p.c-subscribe-box__desc You like articles of the blog? Sign up for updates via email.
    form(class="c-form c-form--accent c-subscribe-box__form")
      input(type="email" placeholder="name@cool.internet" class="u-align-center")
      input(type="submit" value="Subscribe" class="full-button")