<div class="c-subscribe-box u-align-center">
  <div class="rainbow"><span></span><span></span></div>
  <div class="c-subscribe-box__wrapper">
    <h3 class="c-subscribe-box__title">Join my newsletter</h3>
    <p class="c-subscribe-box__desc">You like articles of the blog? Sign up for updates via email.</p>
    <form class="c-form c-form--accent c-subscribe-box__form">
      <input class="u-align-center" type="email" placeholder="name@cool.internet"/>
      <input class="full-button" type="submit" value="Subscribe"/>
    </form>
  </div>
</div>